---
layout: page
---

{% assign HEAD_PREFIX = "h_" %}
{% assign LIST_PREFIX = "l_" %}
    <div class="container">
        <div class="avatar">
            <a href="https://github.com/sponsors/iamthecloverly/">
                <img src="https://avatars.githubusercontent.com/u/86469621?s=400&u=2d083ae4b9aec07eb3e24db8939b976c341b87f6&v=4" alt="SriBalaji" width="200" />
            </a>
        </div>
        <div class="content">
            <h1>Love my work?</h1>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="SriBalaji" data-color="#ffffff" data-emoji=""  data-font="Inter" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
            <br>
            <p>Do consider donating via buying me a coffee or github sponsors for sustainable support and rewards if you want to appreciate our work.</p>
            <p>As an open-source developer, I am reaching out to ask for your support in helping to fund my open-source projects. These projects are built with the goal of making technology more accessible and user-friendly for everyone. Your donation, no matter how small, will help in the development, maintenance and future of these projects. Your contribution will help me to continue to create and improve on the projects that you have come to depend on and benefit from. Please consider making a donation today and help us to continue this effort. Thank you for your support</p>
            <b><p>Click the Sponsor button to donate!</p></b>
            <iframe src="https://github.com/sponsors/iamthecloverly/card" title="Sponsor iamthecloverly" height="120" width="600" style="border: 0;"></iframe>
            <p>Follow me on:</p>
                <span><a class=" fa-twitter" href="https://twitter.com/thecloverly" target="_blank"></a></span>
                <span><a class=" fa-github" href="https://github.com/iamthecloverly/" target="_blank">  </a></span>
            <p>BY: SriBalaji</p>
        </div>
    </div>
