---
layout: page
# All the Categories of posts
---

{% assign HEAD_PREFIX = "h_" %}
{% assign LIST_PREFIX = "l_" %}
    <div class="container">
        <div class="avatar">
            <a href="https://github.com/iamthecloverly/">
                <img src="https://avatars.githubusercontent.com/u/86469621?s=400&u=2d083ae4b9aec07eb3e24db8939b976c341b87f6&v=4" alt="Skytsunami" />
            </a>
        </div>
        <div class="content">
            <h1>Love my work?</h1>
            <p>Do consider donating or buying me a coffee on Paypal for sustainable support and rewards if you want to appreciate our work.</p>
            <p>Follow me on:</p>
            <p>
                <span><a href="https://twitter.com/thecloverly" target="_blank"><i class="fa fa-twitter"></i></a></span>
                <span><a href="https://github.com/iamthecloverly/" target="_blank"><i class="fa fa-github"></i></a></span>
            </p>
            <p>BY: SriBalaji</p>
        </div>
    </div>

    <a class="suppoprt-me" href="https://www.buymeacoffee.com/" target="_blank"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a Coffee&nbsp&emoji=&slug=marioduarte&button_colour=FF5F5F&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00"></a>
