---
layout: page
---

<div class="container">
    <div class="avatar">
        <a href="https://github.com/sponsors/iamthecloverly/">
            <img src="https://avatars.githubusercontent.com/u/86469621?s=400&u=2d083ae4b9aec07eb3e24db8939b976c341b87f6&v=4" alt="SriBalaji" width="200" />
        </a>
    </div>
    <div class="content">
        <h1>Love my work?</h1>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="SriBalaji" data-color="#ffffff" data-emoji=""  data-font="Inter" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00"></script>
        <br>
        <p>Do consider donating via buying me a coffee or GitHub sponsors for sustainable support and rewards if you want to appreciate our work.</p>
        <p>As an open-source developer, I am reaching out to ask for your support in helping to fund my open-source projects. These projects are built with the goal of making technology more accessible and user-friendly for everyone. Your donation, no matter how small, will help in the development, maintenance, and future of these projects. Your contribution will help me to continue to create and improve on the projects that you have come to depend on and benefit from. Please consider making a donation today and help us to continue this effort. Thank you for your support.</p>
        <b><p>Click the Sponsor button to donate!</p></b>
        <iframe src="https://github.com/sponsors/iamthecloverly/card" title="Sponsor iamthecloverly" height="120" width="600" style="border: 0;"></iframe>
        <h3>PayPal</h3>
        <div id="smart-button-container">
            <div style="text-align: center;">
                <div id="paypal-button-container"></div>
            </div>
        </div>
        <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
        <script>
            function initPayPalButton() {
                paypal.Buttons({
                    style: {
                        shape: 'pill',
                        color: 'gold',
                        layout: 'vertical',
                        label: 'paypal'
                    },
                    createOrder: function(data, actions) {
                        return actions.order.create({
                            purchase_units: [{"amount":{"currency_code":"USD","value":5}}]
                        });
                    },
                    onApprove: function(data, actions) {
                        return actions.order.capture().then(function(orderData) {
                            // Full available details
                            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                            // Show a success message within this page, e.g.
                            const element = document.getElementById('paypal-button-container');
                            element.innerHTML = '';
                            element.innerHTML = '<h3>Thank you for your payment!</h3>';
                            // Or go to another URL:  actions.redirect('thank_you.html');
                        });
                    },
                    onError: function(err) {
                        console.log(err);
                    }
                }).render('#paypal-button-container');
            }
            initPayPalButton();
        </script>
        <p>Follow me on:</p>
        <span><a class=" fa-twitter" href="https://twitter.com/thecloverly" target="_blank"></a></span>
        <span><a class=" fa-github" href="https://github.com/iamthecloverly/" target="_blank"></a></span>
        <p>BY: SriBalaji</p>
    </div>
</div>
